/*Importando hojas de estilo secundarias*/
@import "variable";
@import "header";
@import "layout";
@import "responsive";
@import "banner";
@import "footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
