*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerbar {
    background-color: black;
    padding: 0.2rem;
}

.headertext{
    font-family: 'Asap Condensed', sans-serif;
    color: antiquewhite;
    font-size: small;
    text-align: center;
}

.navigation-bar{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 2.5rem;
}

.navigation-bar li{
    list-style: none;
}

.navigation-bar-links:hover{
    font-weight: bold;
}

.navigation-bar-links:active{
    background-color: rgb(22, 21, 21);
}

.mainbar-logo{
    display: inline-block;
    width: 28%;
    vertical-align: middle;
}

.mainbar-title{
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    line-height: 76px;
    font-family: 'Asap Condensed', sans-serif;
    background-image: url(../recursos/imagenes/banner.jpg);
    color: white;
}


.navigation-bar-links{
    color: white;
    font-size: 20px;
    font-family: 'Asap Condensed', sans-serif;
    text-decoration: none;
    background-color: black;
    padding: 4px 32px;
}

.banner-home{
    margin: 10px 0px 20px 0px;
    background-image: url(../recursos/imagenes/banner-arena.jpg);
    vertical-align: middle;
    background-size: cover;
    height: 300px;
    text-align: center;
    font-family: 'Asap Condensed', sans-serif;
    font-style: oblique;
    font-size: x-large;
    color: rgb(69, 72, 72);
}

.section-cards{
    display: flex;
}


.card{
    font-family: 'Asap Condensed', sans-serif; 
    text-align: center;
    background-color: rgba(214, 206, 206, 0.614);
    box-shadow: 0px 0px 7px -155px rgba(0,0,0,0.59);
    padding: 10px;
}

.products{
    display: flex;
    flex-wrap: wrap;
}

.photo{
    width: 33%;
    margin-top: 20px;

    font-family: 'Asap Condensed', sans-serif; 
    text-align: center;
}

.photos-promo{
    display: flex;
}

.photo-promo{
    margin-top: 20px;
    width: 48%;

    font-family: 'Asap Condensed', sans-serif; 
    text-align: center;
    font-size: large;
}

#estilo-footer{
    margin-top: 10px;
    color: rgb(142, 157, 152);
    font-family:'Asap Condensed', sans-serif;
    background-color: black;
}


.textbox-nosotros{
    padding: 20px;
    font-family: 'Asap Condensed', sans-serif; 
    text-align: center;
    font-size: large;
}

.text-multimedia{
    justify-content: center;
    align-items: flex-start;
}

.multimedia{
    padding: 20px;
    font-family: 'Asap Condensed', sans-serif; 
    text-align: center;
    font-size: large;
}

/*
.container-contact{
    display: flex;
    justify-content: center;
}
*/

.box-contact{
    font-family: 'Asap Condensed', sans-serif; 
    text-align: center;
    font-size: larger;

    padding-top: 50px;
}

/*Agregando estilos a las clases de bootstrap*/
.nav-link:hover {
    font-weight: bold;
}

.nav-link:active {
    background-color: rgb(22, 21, 21);
}

.nav-link {
    font-family: 'Asap Condensed', sans-serif;
}

#navbarSupportedContent {
    justify-content: end;
}

.navbar-brand img {
    display: none;
}

/*Main y navbar mobile*/
@media (max-width: 768px) {
    .navbar-brand img {
        display: block;
        width: 150px;
    }
    .mainbar-logo {
        display: none;
    }
    .mainbar-title {
        width: 100%;
    }
}




